:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #1a49c0;

  --van-overlay-z-index: 99 !important;
  --van-primary-color: #1a49c0 !important;
}

/* 常规字体 */
@font-face {
  font-family: AliRegular;
  src: url("./assets/font/AlibabaPuHuiTi-2-55-Regular.otf");
}

/* 首页 - 图书馆加粗字体 2选1 */
/* 常规字体 加粗 - AliHeavy */
@font-face {
  font-family: AliExtraBold;
  src: url("./assets/font/AlibabaPuHuiTi-2-95-ExtraBold.otf");
}
@font-face {
  font-family: AliHeavy;
  src: url("./assets/font/AlibabaPuHuiTi-2-105-Heavy.otf");
}

* {
  font-family: AliRegular !important;
}
.van-icon::before {
  font-family: "vant-icon" !important;
}
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
html {
  box-sizing: border-box;
  scrollbar-width: thin;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scrollbar-width: inherit;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  background: hsl(214, 13%, 75%);
  border-radius: 4px;
}

* {
  transition: 0.15s;
}
p,
h1 {
  margin: 0;
}
div {
  box-sizing: border-box;
}
.activeBtn {
  user-select: none;
  cursor: pointer;
  transition: 0.15s;
}
.activeBtn:active {
  opacity: 0.7;
  transform: scale(0.9);
}
.ant-spin-nested-loading {
  height: 100%;
}
.ant-spin {
  max-height: 95% !important;
}

.clickBox {
  user-select: none;
  cursor: pointer;
  transition: 0.15s;
}
.clickBox:active {
  opacity: 0.8;
  transform: scale(0.99);
}

.clickBoxT {
  user-select: none;
  cursor: pointer;
  transition: 0.15s;
}
.clickBoxT:hover {
  background: #335cc4 !important;
}

.clickBoxT:active {
  background: #4d76de !important;
}

/*
  进入和离开动画可以使用不同
  持续时间和速度曲线。
*/
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

/* 下面我们会解释这些 class 是做什么的 */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.ant-spin-container::after {
  background: rgba(0, 0, 0, 0.3) !important;
}
.ant-spin-blur {
  opacity: initial !important;
}
.ant-spin-blur::after {
  opacity: 0.3;
}
.ant-breadcrumb-link {
  cursor: pointer;
  user-select: none;
}

.quickBtns {
  min-width: 147px;
  height: 36px;
  padding: 4px;
  background: #f1f1f1;
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quickBtns .item {
  color: #868686;
  padding: 2px 16px;
  padding-top: 4px;
  min-width: 60px;
  font-size: 14px;
  height: 28px;
}
.quickBtns .itemActive {
  background: #ffffff;
  box-shadow: 0px 5px 10px 0px rgba(51, 102, 153, 0.1);
  border-radius: 17px 17px 17px 17px;
  font-weight: bold;
  font-size: 14px;
  color: #1f56e1;
}

.cardItem {
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #e7e7e7;
  cursor: pointer;
}
.cardItemBorTran {
  border: 2px solid transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.cardItem .cardItemImgCon {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.cardItem .cardItemImgCon .posBot {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 28px 20px 14px 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.cardItem .cardItemImgCon .leftBadge {
  position: absolute;
  left: 0;
  top: 0;
}

.cardItem .cardItemImgCon .rightBadge {
  position: absolute;
  right: 0;
  top: 0;
}

.cardItem .cardItemImgCon .cardItemImg {
  width: 100%;
  /* width: 389px; */
  height: 220px;
  object-fit: cover;
}

.activeItem {
  border: 2px solid #1a49c0;
  background: rgba(26, 73, 192, 0.03);
}

.ant-modal-footer {
  margin: 12px -24px 0;
  padding-top: 12px;
  border-top: 1px solid rgba(4, 4, 21, 0.05);
  text-align: center !important;
}

.mobile .ant-drawer-body {
  padding: 0;
}

